.weather-widget {
  background: linear-gradient(135deg, #e0f7fa, #80deea);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.weather-widget h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #00796b;
}

.loader {
  border: 5px solid rgba(206, 202, 202, 0.3);
  border-top: 5px solid rgb(86, 86, 251);
  border-radius: 50%;
  margin: 3rem auto;
  width: 50px;
  height: 50px;
  animation: spin 1.5s ease-in-out infinite;
  position: relative;
  z-index: 2;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.input-wrapper{
  display: flex;
  justify-content: center;
}

.weather-input {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #b2ebf2;
  width: 70%;
  margin-right: 0.5rem;
}

.weather-btn {
  padding: 0.6rem 1rem;
  border: none;
  background-color: #00796b;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.weather-btn:hover {
  background-color: #004d40;
}

.city-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #004d40;
  margin: 0;
}

.temp {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff5722;;
}

.description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.error {
  position: relative;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.error.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.error-error {
  background-color: #f44336;
}

.error-success {
  background-color: #4caf50;
}

/* Animations */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
} 

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}